.results{
    justify-content: center;
    text-align: center;
}

header{
    text-align: center;
    font-weight: bold;
}

.hidden{
    visibility: hidden;
}

.find{
    text-decoration:bolder;
    background-color:gold;
    text-decoration-color: black;
    
}

.card{
    background-color: beige;
}